#scene {
  position: relative;
  width: 800px;
  height: 556px;
  background: #111;
  margin: auto;
}

/* only absolute the elements that need it */
#wall, #windows, #desk {
  position: absolute;
  top: 0;
  left: 0;
}
#desk { bottom: 0; z-index:2; }
#windows { z-index:1; }
#wall { z-index:0; }

/* monitor wrapper */
#monitor-wrapper {
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 5;
}

/* input wrapper */
#input-wrapper {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 80px;
  z-index: 10;
}

/* input container */
#input-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#input-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
