#scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* BACKGROUND */
#wall {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

#windows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* DESK */
#desk {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 2;
}

/* MONITOR */
#monitor-wrapper {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  z-index: 5;
}

#monitor-shell {
  width: 100%;
}

#monitor-screen {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 70%;
  background: black;
  z-index: 6;
}

#monitor-screen.off {
  display: none;
}

/* INPUT CONTAINER */
#input-container {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 7;
  width: 300px;
}

#input-bar {
  width: 100%;
}

#submit-red, #submit-green {
  position: absolute;
  top: 0;
  right: -60px;
  width: 50px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* POWER BUTTON */
#power-btn {
  position: absolute;
  bottom: 50%;
  right: 10%;
  width: 50px;
  z-index: 8;
  cursor: pointer;
}

/* NAMEPLATE */
#nameplate-base {
  position: absolute;
  bottom: 65%;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  z-index: 9;
}


