
body {
  margin: 0;
  background: #000;
}

#scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #111;
  overflow: hidden;
}


#scene > * {
  position: absolute;
}


/* wrapper positioned exactly where the input-bar is */
#input-wrapper {
  position: absolute;
  bottom: 50px;       /* distance from bottom of scene */
  left: 50%;
  transform: translateX(-50%) rotate(-30deg); /* rotate if input-bar is angled */
  transform-origin: center;
  width: 400px;       /* match input-bar width */
  height: 50px;       /* match input-bar height */
  z-index: 11;        /* above monitor */
}

/* input inside wrapper */
#real-input {
  position: absolute;
  top: 0;             /* inside wrapper */
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px 10px;
  background-color: rgba(173,216,230,0.4); /* semi-transparent to see alignment */
  font-size: 16px;
  border-radius: 4px;
}
