#desk, #monitor-wrapper, #input-container, #power-btn, #nameplate-base {
  width: 100px;   /* small for testing */
  height: auto;
  left: 50%;      /* center horizontally */
  bottom: 50%;    /* center vertically */
  transform: translate(-50%, 50%); /* adjust for center */
  z-index: 2;
}


/* ----------------------------- */
body {
  margin: 0;
  padding: 0;
  background: #000;
}

/* ----------------------------- */
#scene {
  position: relative;
  width: 1200px;             /* fixed width for now */
  height: 836px;             /* 1640 / 2360 * 1200 = 836 */
  margin: 0 auto;
  background: black;
  overflow: hidden;
  border: 1px solid red;     /* for debug */
}

/* ----------------------------- */
#scene img,
#monitor-wrapper {
  position: absolute;
  height: auto;
}

/* Example placements for test */
#wall {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

#desk {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 2360px; /* same as canvas width */
  height: auto;
  z-index: 2;
}

#monitor-wrapper {
  position: absolute;
  left: 1100px;
  bottom: 400px;
  width: 650px;
  z-index: 5;
}

#nameplate-base {
  position: absolute;
  left: 1180px;
  bottom: 1300px;
  width: 150px;
  z-index: 9;
}



