#scene {
  position: relative;
  width: 800px;
  height: 556px;
  background: #111;
  margin: auto;
}

/* Only absolute the elements that truly need it */
#wall, #windows {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#desk {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
#monitor-wrapper {
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 5;
}

/* Input container */
#input-wrapper {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 80px;
  z-index: 10;
}
#input-container {
  position: relative;
  width: 100%;
  height: 100%;
}
#input-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
