body {
  margin: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#scene {
  position: relative;
  width: 800px;
  height: 556px;
  background: #111;
}

#scene > * {
  position: absolute;
}

#input-container {
  position: absolute;           /* absolute relative to #scene */
  bottom: 30px;                 /* distance from bottom of scene */
  left: 50%;                    /* horizontal center */
  transform: translateX(-50%);  /* center properly */
  width: 363px;                  /* set to match input-bar.png width */
  height: 1300px;                  /* set to match input-bar.png height */
  z-index: 10;  
    border: 2px solid red;
}


/* Make every image inside the container visible and fill the container */
#input-container img {
  position: absolute;  /* relative to container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
