html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #111;
  overflow: hidden;
}

#scene-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scene {
  width: 800px;
  height: 556px;
  position: relative;
  transform-origin: top left;
}


#scene > * {
  position: absolute;
}


#real-input {
  position: absolute;
  top: 450px;      /* manually match input-bar position */
  left: 200px;     /* manually match input-bar position */
  width: 300px;    /* fits nicely inside input-bar */
  height: 35px;    /* fits nicely inside input-bar */
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgba(173, 216, 230, 0.7); /* light blue overlay */
  z-index: 11;     /* above input-bar */
}

