
body {
  margin: 0;
  background: #000;
}

#scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #111;
  overflow: hidden;
}


#scene > * {
  position: absolute;
}


#real-input {
  position: absolute;
  top: 450px;     /* adjust manually to match input-bar */
  left: 200px;    /* adjust manually */
  width: 300px;   /* match visible area of input-bar */
  height: 35px;   /* match height of input-bar */
  transform: rotate(-30deg); /* match input-bar rotation */
  transform-origin: top left; 
  background-color: rgba(255,255,255,0.3); /* semi-transparent */
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
  z-index: 11;    /* above input-bar */
  color: black;   /* text color */
}
