/* Scene wrapper fills viewport */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #111;
  overflow: hidden; /* remove scrollbars */
}

#scene-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Scene scales proportionally to fit viewport */
#scene {
  width: 800px;   /* original scene size */
  height: 556px;  /* original scene size */
  transform-origin: top left; /* scale from top-left corner */
  position: absolute;
}

/* JavaScript will scale it dynamically */



#scene > * {
  position: absolute;
}


#real-input {
  position: absolute;
  top: 450px;      /* manually match input-bar position */
  left: 200px;     /* manually match input-bar position */
  width: 300px;    /* fits nicely inside input-bar */
  height: 35px;    /* fits nicely inside input-bar */
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgba(173, 216, 230, 0.7); /* light blue overlay */
  z-index: 11;     /* above input-bar */
}

